/* css reset */
* {
    font-family: 'Open Sans', sans-serif;
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3 {
    text-wrap: balance;
    color: var(--heading);
}
p {
    text-wrap: pretty;
}

html {
    scroll-behavior: smooth;
}

:root {
    --transition-time: .3s;
    --primary-color: black;
    --secondary-color: beige;
    --heading: #78664f;
    --text: var(--primary-color);
    --refs: var(--secondary-color);
    --cursor-color: var(--secondary-color);
    --card-background: #cf770444;
}
:root[data-theme="dark"] {
    --primary-color: beige;
    --secondary-color: black;
    --heading: #d19b54;
    --cursor-color: var(--primary-color);
}

body {
    background-color: var(--secondary-color);
    width: 60vw;
    margin: 0 auto;
    color: var(--text);

    transition: background-color var(--transition-time), color var(--transition-time);
}

*::selection {
    background-color: var(--primary-color);
    color: var(--text);
}

#cursor {
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: none;
    border: 2px solid var(--cursor-color);
    position: fixed;
    top: -8px;
    left: -8px;
    z-index: 999;
    display: none;
    transition: border-width .1s;
}
#cursor.clicked {
    background-color: var(--cursor-color);
}
#cursor.hovered {
    border-width: 17px;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header div img {
    border-radius: 50%;
    width: 250px;
    border: 6px solid var(--primary-color);
    transition: transform .3s;
}
header div img:hover {
    transform: scale(1.1);
}

header div h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
    color: var(--primary-color);
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 60px;
    transition-duration: .6s;
    transition-property: gap;
    transition-timing-function: ease-in;
}
.redes-sociales svg {
    color: var(--text);
    opacity: 0.3;
    width: 50px;
    height: 50px;
    transition-property: opacity;
    transition-duration: .3s;
}
.redes-sociales svg:hover{
    opacity: 1;
}

.redes-sociales button {
    background-color: transparent;
    border: none;
}

.redes-sociales.left {
    position: fixed;
    left: -100px;
    top: 100px;
    flex-direction: column;
    transform: translateX(140px);

    transition: transform .5s ease-in;
}

.redes-sociales.left svg {
    width: 40px;
}

a.ref {
    margin-bottom: 30px;
    display: block;
    background-color: var(--primary-color);
    color: var(--refs);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section p {
    margin: 10px 0 30px;
    width: 90%;
}

section ul {
    margin-left: 50px;
    gap: 10px;
}

section#aboutme ul {
    list-style: none;
}

section#CV h3, ul li {
    margin-bottom: 10px;
}

section#CV article {
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

section#CV .card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 0px var(--primary-color);
    border: 3px solid var(--primary-color);
}

section#CV .card:nth-child(odd) {
    flex-direction: row-reverse;
}

section#CV .card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

section#CV .card img {
    width: 300px;
    border-radius: 10px;
}
section#CV .card img#freecodecamp {
    width: 500px;
}
:root[data-theme="dark"] section#CV .card img#freecodecamp {
    filter: invert(1);
}

/* Media queries */
@media (max-width: 992px) {
    section#CV .card {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    body {
        width: 90vw;
        margin-bottom: 100px;
    }

    .redes-sociales.left {
        gap: 30px;
        bottom: -100px;
        top: auto;
        left: auto;
        flex-direction: row;

        transform: translateY(-130px);
    }
}

@media (max-width: 576px) {
    header {
        gap: 50px;
        height: 100vh;
    }

    header div {
        flex-direction: column;
    }

    section#CV .card img {
        width: 100%;
    }

    section#CV .card img#freecodecamp {
        width: 100%;
    }
}
